*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');

body{
    font-family: 'Signika', sans-serif;
    height: 100%;
    position: relative;
}

.container{ 
    background-image: url(../img/dvd.pen.transparencia.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(3, 1 fr);
    grid-template-rows: 140px 1fr 1fr 70px;
    grid-template-areas: 
    "header   header   header"     
    "main     main     main"
    "main     main     main" 
    "footer   footer   footer";    
}

header{
    grid-area: header;
    background-color: #96ceb4;
    min-height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

main{
    grid-area: main;
    height: 100vh;
    overflow: auto;
}

footer{
    grid-area: footer;
    background-color: #96ceb4;
}


/*header*/

.navBar{
    font-size: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding-right: 10px;
}

.navBar li a{
    font-weight: bold;
    color: black;
    text-shadow: 1px 2px 2px #D9534F;
    text-decoration: none;
}

.navBar li a:hover{
    color: #F6D7A7;
    font-size: 25px;
}

/*main Index*/

.mainIndex{
    display: grid;
    grid-template-columns: repeat(2, 1 fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "mainTxt  mainTxt"
    "video  video"
    "audioLp  audioLp";
    justify-content: center;
    align-content: center;
    
}

.mainTxt{
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 10px;
    grid-area: mainTxt;
    place-self: center;
    text-align: center;
}

.mainTxt h2{
    font-size: 2em;
    text-shadow: 2px 1px;
}

.mainTxt p{
    font-size: 25px;
}

.video{
    grid-area: video;
    place-self: start;
}

.audioLp{
    grid-area: audioLp;
    place-self: start;
}

/*main page nosotros*/

.mainNosotros{
    display: grid;
    grid-template-columns: 1 fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "nosotrosParrafo"
    "formatos";
    place-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 10px;
    margin-top: 5px;
    gap: 10px;
}
.nosotrosParrafo{
    grid-area: nosotrosParrafo;
    font-size: 25px;
    place-self: center;
}

.nosotrosParrafo p{
    font-size: 25px;
}
.nosotros::first-letter{
    font-size: 35px;
    font-weight: bold;
}

.formatos{
    grid-area: formatos;
    place-self: center;
    font-size: 25px;
    text-align: left;
}

/* main page servicios*/

.servicios{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    "film"
    "cine"
    "audio"
    "imagen"
    "edicion"
    "restauracion";
    align-content: center;
    text-align: center;
    gap: 20px;
    margin-top: 5px;
    }

.film{
    grid-area: film;
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 10px;
}

.cine{
    grid-area: cine;
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 10px;
}

.audio{
    grid-area: audio;
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 10px;
}

.imagen{
    grid-area: imagen;
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 10px;
}

.edicion{
    grid-area: edicion;
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 10px;
}

.restauracion{
    grid-area: restauracion;
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 10px;
}

.item{
    font-size: 25px;
    color: #219F94;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px black;
}

.description{
    font-size: 20px;
    color: black;
}

/*main page galeria*/

.galeria{
    margin: 5px;
    display: grid;
    grid-column: (repeat 4, 340px);
    grid-row: (repeat 3, 250px);
    grid-template: 
    "cassettes   cintasFilmicas   cassAudio   cintaAbierta"  
    "cassRoto    vinilo           diapos      negativo"      
    "loteDiapo  cintaMagnetica   betamax     negativo";                        
    gap: 7px 30px;
    place-content: center;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.295);
    border-radius: 10px;
}

.foto:hover{
    transform: scale(1.20);
}

.cassettes{
    grid-area: cassettes;
}

.cintasFilmicas{
    grid-area: cintasFilmicas;
}

.diapos{
    grid-area: diapos;
}

.cintaAbierta{
    grid-area: cintaAbierta;
}

.cassRoto{
    grid-area: cassRoto;
}

.vinilo{
    grid-area: vinilo;
}

.cassAudio{
    grid-area: cassAudio;
}

.negativo{
    grid-area: negativo;
}

.loteDiapo{
    grid-area: loteDiapo;
}

.cintaMagnetica{
    grid-area: cintaMagnetica;
}

.betamax{
    grid-area: betamax;
}

/*main page contacto*/

.formulario{
    width: 500px;
    background-color: rgba(255, 255, 255, 0.471);
    font-size: 25px;
    text-align: center;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    }

    button{
        font-family: 'Edu QLD Beginner', cursive;
    }

/*footer*/

.contacto{
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

.contacto i{
    font-size: 40px;
    color: black;
    
}

.contacto i:hover{
    color: #F6D7A7;
    font-size: 45px;
}

/*media queries container*/

@media(max-width: 768px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 140px auto repeat(9, 1fr) 70px;
        grid-template-areas: 
        "header"
        "header"
        "main"
        "main"
        "main"
        "main"
        "main"
        "main"
        "main"
        "main"
        "main"
        "footer";
}

header{
    flex-direction: column;
}
}

@media (max-width:576px){
    .navBar{
        font-size: 16px;
        gap: 20px;
    }
    .navBar li a:hover{
        font-size: 20px;
    }
}

/* media queries index.html*/

@media(max-width: 768px){
    .mainIndex{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "mainTxt"
        "video"
        "audioLp";
    }   
}

@media(max-width: 576px){
    .mainIndex{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "mainTxt"
        "video"
        "audioLp";
    }   
}

/*media queries page nosotros*/

@media(max-width: 768px){
    .mainNosotros{
        display: grid;
        grid-template-columns: 1 fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "nosotrosParrafo"
        "formatos";
        place-content: center;
}
}

@media(max-width: 576px){
    .mainNosotros{
        display: grid;
        grid-template-columns: 1 fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "nosotrosParrafo"
        "formatos";
        place-content: center;
}
}

/*media queries page servicios*/

@media(max-width: 768px){
    .servicios{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        "film"
        "cine"
        "audio"
        "imagen"
        "edicion"
        "restauracion";
        align-content: center;
        text-align: center;
        gap: 25px;
        margin-top: 5px;
        }
}

@media(max-width: 576px){
    .servicios{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        "film"
        "cine"
        "audio"
        "imagen"
        "edicion"
        "restauracion";
        align-content: center;
        text-align: center;
        gap: 25px;
        margin-top: 5px;
        }
}

/*media queries page galeria*/

@media(max-width: 768px){
    .galeria{
        display: grid;
        grid-column: (repeat 2, 340px);
        grid-row: (repeat 6, 250px);
        grid-template: 
        "cassettes   cintasFilmicas"  
        "cassAudio   vinilo"
        "cassRoto    cintaMagnetica"
        "diapos      cintaAbierta"      
        "loteDiapo   negativo"
        "betamax     negativo";
    }
}

@media(max-width: 576px){
    .galeria{
        display: grid;
        grid-row: (repeat 11, 1fr);
        grid-template: 
        "cassettes"
        "cintasFilmicas"  
        "cassAudio"
        "cassRoto"
        "vinilo"
        "diapos"
        "loteDiapo"
        "betamax"
        "cintaMagnetica"
        "cintaAbierta"
        "negativo";                        
    }
}

/*media queries page contacto*/

@media(max-width: 768px){
    .formulario{
    width: 90%;
    }
}

@media(max-width: 576px){
    .formulario{
    width: 70%;
    }
}





